# Export main user-facing functions
export(DIBmix, DIBcont, DIBcat, IBmix, IBcont, IBcat, GIBmix, GIBcont, GIBcat,
       AIBmix, AIBcont, AIBcat)

# Use dynamic libraries for C++ integration
useDynLib(IBclust, .registration = TRUE)

# Import functions from required packages
import(stats)
import(RcppEigen)
importFrom(utils, head)
importFrom(Rcpp, evalCpp)
import(np)
import(Rdpack)

# Import additional required libraries
importFrom(rje, powerSet)
